@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-6">
		<h2>Dir info</h2>
		<p>
			<pre>@ViewBag.DirInfo</pre>
		</p>
	</div>
	<div class="col-md-6">
		<h2>File info</h2>
		<p>
			<pre>@ViewBag.FileInfo</pre>
		</p>
	</div>
</div>
